.about-description {
    display: flex;
    width: 100%;
    margin: 6em 0 12em 0;
    color: $primary-color;
    font-family: $primary-font;
    .left-description {
        width: 50%;
        margin-right: 15px;
        img {
            width: 100%;
        }
        h2 {
            font-size: 2vw;
            text-transform: uppercase;
            font-weight: 700;
            padding-top: 2em;
            letter-spacing: 1px;
        }
        p {
        font-size: 1vw;
        letter-spacing: 1px;
        line-height: 1.5vw;
        padding: 2em 40px 0 0;
        }
    }
    .right-description {
        width: 50%;
        margin-left: 15px;
        img {
            width: 100%;
        }
        h2 {
            font-size: 2vw;
            text-transform: uppercase;
            font-weight: 700;
            padding-top: 2em;
            letter-spacing: 1px;
        }
        p {
        font-size: 1vw;
        letter-spacing: 1px;
        line-height: 1.5vw;
        padding: 2em 40px 0 0;
        }
    }
}