.faq {
    width: 80%;
    margin: 50px auto 80px auto;
    font-family: $primary-font;
    color: $primary-color;
    .question {
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 10px;
        background-color: rgb(223, 215, 215);
        margin-bottom: 20px;
        position: relative;
        span {
            color: $fourth-color;
            font-size: 24px;
            position: absolute;
            right: 0;
            padding-right: 15px;
        }
    }
    .answer {
        display: none;
        padding: 20px 10px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    #faq-accordeon-nthchild {
        ul {
            position: relative;
        }
        ul :nth-child(even) {
            display: none;
            display: none;
            padding: 20px 10px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        ul :nth-child(odd) span {
            color: $fourth-color;
            line-height: 0;
            font-size: 24px;
            font-weight: normal;
            border: none;
            position: absolute;
            right: 0;
            margin: -10px 5px;
        }
        ul :nth-child(odd) {
            font-weight: bold;
            text-transform: uppercase;
            padding: 20px 10px;
            background-color: $third-color;
            margin-bottom: 20px;
        }
    }
}