.signup {
    width:100%;
    padding: 150px 0;
    text-align: center;
    .signup-content {
        width: 90%;
        margin: 0 auto;
        h3 {
            font-size: 36px;
            letter-spacing: 2px;
            line-height: 35px;
            color: $primary-color;
            font-weight: 700;
            font-family: $primary-font;
            text-transform: uppercase;
            @include media(0,900px) {
                font-size: 24px;
            }      
        }
        p {
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 35px;
            color: $secondary-color;
            font-style: italic;
            font-family: $secondary-font;
            padding-top: 20px;
        }
        form {
            padding-top: 60px;
            input[type=email] {
                line-height: 40px;
                width:40%;
                border: 1px solid $secondary-color;
                color: $secondary-color;
                padding: 10px 15px;
                @include media(0,900px) {
                    width: 60%;
                }      
            }
            input[type=email]:focus {
                outline: none;
            }
            input[type=submit] {
                line-height: 40px;
                width:95px;
                background-color: $fourth-color;
                border: 1px solid $fourth-color;
                color: white;
                padding: 10px 15px;
                margin-left: -5px;
                cursor: pointer;
                font-size: 14px;
                &:hover {
                    background-color: rgb(182, 88, 103);
                    border: 1px solid rgb(182, 88, 103);
                }
                &:focus {
                    outline: none;
                }
            }
        }    
    }
}