body {
    background-color: $primary-color;
}

//background white rectangle where the site content rests
.page-container {
    max-width: 1280px;
    width: 100%;
    background-color: white;
    margin: 30px auto 30px auto;
    padding: 30px;
}