.slider-title {
    p {
        padding: 50px 0;
        text-align: center;
        color: $secondary-color;
        font-size: 24px;
        font-style: italic;
    }
}
.main-slider-container {
    margin: 0 auto;
    width: 95%;
}

